/recentf
/test
/eshell
/test/**
/auto-save-list
/lisp/init-abbrev.el
/Mac.emacs.d_GTD.*
/abbrev_defs
/lisp/init-mapping.el
/.org-id-locations
/ac-comphist.dat
/.org-id-locations
/auto
/abbrev_defs
/bookmarks
